
<style>
body {
  background-color: #000000;
  max-width: 80%;
  width: 80%;
  margin: auto;
}

/* the time */
div {
  background-color: #0b0909;
  color: #22fb00;
  font-family: 'Orbitron';
  font-size: 600%;
  text-align: center;                                           
}

h1, h2, a {
  color: #22fb00;
  font-family: 'Quicksand';
  font-size: 300%;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
body {
  background-color: #000000;
  max-width: 100%;
  width: 100%;
  margin: auto;
}

/* the time */
div {
  background-color: #0b0909;
  color: #22fb00;
  font-family: 'Orbitron';
  font-size: 430%;
  text-align: center;                                           
}

h1, h2, {
  color: #22fb00;
  font-family: 'Quicksand';
  font-size: 200%;
  text-align: center;
  text-decoration: none;
}
}

@media screen and (max-width: 600px) {
body {
  background-color: #000000;
  max-width: 100%;
  width: 100%;
  margin: auto;
}

/* the time */
div {
  background-color: #0b0909;
  color: #22fb00;
  font-family: 'Orbitron';
  font-size: 300%;
  text-align: center;                                           
}

h1, h2, {
  color: #22fb00;
  font-family: 'Quicksand';
  font-size: 200%;
  text-align: center;
  text-decoration: none;
}
}

@media screen and (max-width: 430px) {
body {
  background-color: #000000;
  max-width: 100%;
  width: 100%;
  margin: auto;
}

/* the time */
div {
  background-color: #0b0909;
  color: #22fb00;
  font-family: 'Orbitron';
  font-size: 230%;
  text-align: center;                                           
}

h1, h2, {
  color: #22fb00;
  font-family: 'Quicksand';
  font-size: 90%;
  text-align: center;
  text-decoration: none;
}
}
